<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Onus | The Things We Own, Own Us</title>

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="/onus.css">
</head>
<body>
    <div class="ui sidebar inverted vertical menu">
        <div class="item">
            <h1 class="header menu-header"><span>< O ></span> Onus</h1>
            <div class="menu">
                <a href='/' class="item active"><i class="home icon"></i>Home</a>
                <% if(!currentUser){ %>
                    <a href='/login'class="item"><i class="address card icon"></i> Log In</a>
                    <a href='/register'class="item"><i class="user plus icon"></i> Register</a>
                </div>
            </div>
                <% } else { %>
                    <a href='/<%= currentUser._id %>'class="item"><i class="id card icon"></i> Profile</a>
                    <a href='/logout'class="item"><i class="address card outline icon"></i> Log Out</a>
                </div>
            </div>
        <div class="item">
            <h1 class="header">Logged in as:</h1>
            <div class="menu">
                <div class="item"><%= currentUser.name %></div>
            </div>
        </div>
        <div class="item">
            <h1 class="header">You own</h1>
            <div class="menu">
                <div class="item"><%= currentUser.collections.length %> Collections</div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="pusher">
        <div class="ui black launch right attached button">
            <i class="sidebar icon"></i>
            <span>Menu</span>
        </div>