<% include ../partials/header %>

<div class="ui container">
    <h1>this is the collection/new route</h1>
    <div class="ui segment">
        <form class="ui form" action="/<%= user._id %>/collections" method="POST">
            <div class="form item">
                <label for="name">Name your collection</label>
                <input type="text" name="collection[name]" placeholder="Pairs of socks">
            </div>
            <input type="submit">
        </form>
    </div>
</div>

<% include ../partials/footer %>