<% include ../partials/header %>
<div class="ui padded container segment">
    <h1>Hello world</h1>
    <div class="ui top attached tabular menu">
        <div id='home' class="item active">
            Home
        </div>
        <div id='collections' class="item">
            Collections
        </div>
        <div id='items' class="item">
            Items
        </div>
    </div>
    <div id="homeSegment" class="ui bottom attached active tab segment">
        <p>Home</p>
        <p>tab</p>
    </div>
    <div id="collectionsSegment" class="ui bottom attached tab segment">
        <p>collections</p>
        <p>tab</p>
    </div>
    <div id="itemsSegment" class="ui bottom attached tab segment">
        <p>items</p>
        <p>tab</p>
    </div>
</div>


<% include ../partials/footer %>